.aboutUs {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  height: 75vh;
  background-color: var(--color-fg);
}

.title {
  font-size: 3.4rem;
  color: var(--color-text);
  text-align: center;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.line {
  transform: translateY(100%);
  will-change: transform;
}

@media (max-width: 768px) {
  .aboutUs {
    padding: 4rem 2rem;
  }
  .title {
    font-size: 2.25rem;
  }
}
